.p1{
    color: black;
    font-size: larger;
    background-color: aqua;
    text-align: center;


}

.p2{
    padding: 30px;
    color: brown;
    background-color: rgb(0, 0, 0);
    padding: 40px;
}


    